<div class="bg-light p-5">
    <div class="row my-5">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header text-center">Topics covered</div>
                <div class="card-body text-justify">Enim eu esse duis eu.</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header text-center">Recent Activities</div>
                <div class="card-body text-justify">Aute velit pariatur minim qui exercitation esse enim adipisicing ad deserunt cupidatat ipsum.</div>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header text-center ">Performance</div>
                <div class="card-body text-justify">Voluptate cupidatat eiusmod officia culpa nisi ullamco excepteur.</div>
            </div>
        </div>
    </div>
</div>