<nav class="navbar navbar-expand-md navbar-light border-bottom">
    <a class="navbar-brand font-weight-bold ml-3" routerLink="">Welcome to EduWeb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav font-weight-bold">
            <li class="nav-item">
                <a class="nav-link" routerLink="login">Login</a>
            </li>
        </ul>
    </div>
</nav>