<footer class="page-footer font-small bg-dark text-light pt-4">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h3>EduWeb</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae harum esse fugiat. Itaque, culpa?</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-6 mb-md-0 mb-3 d-flex align-items-center justify-content-center">
                <a class="fb-ic" href="https://www.facebook.com" target="_blank">
                    <fa-icon class="mr-md-5 mr-3" [icon]="['fab', 'facebook-f']" size="2x"></fa-icon>
                </a>
                <a class="tw-ic" href="https://twitter.com/pulkitbanta" target="_blank">
                    <fa-icon class="mr-md-5 mr-3" [icon]="['fab', 'twitter']" size="2x"></fa-icon>
                </a>
                <a class="gplus-ic" href="https://aboutme.google.com/u/0/?referer=gplus" target="_blank">
                    <fa-icon class="mr-md-5 mr-3" [icon]="['fab', 'google-plus-g']" size="2x"></fa-icon>
                </a>
                <a class="li-ic" href="https://www.linkedin.com/in/pulkit-banta-994112168/" target="_blank">
                    <fa-icon class="mr-md-5 mr-3" [icon]="['fab', 'linkedin-in']" size="2x"></fa-icon>
                </a>
                <a class="github-ic" href="https://github.com/PulkitBanta" target="_blank">
                    <fa-icon class="mr-md-5" [icon]="['fab', 'github']" size="2x"></fa-icon>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">Made with ❤ by Pulkit Banta</div>
</footer>