a {
    color: white;
}

.fb-ic:hover {
    color: #3b5998;
}

.tw-ic:hover {
    color: #00acee;
}

.gplus-ic:hover {
    color: #db4a39;
}

.li-ic:hover {
    color: #0e76a8;
}

.github-ic:hover {
    color: gray;
}