<footer class="page-footer font-small bg-dark text-light pt-4">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase font-weight-bold">EduWeb</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae harum esse fugiat. Itaque, culpa?</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-6 mb-md-0 mb-3 d-flex align-items-center justify-content-center">
                <a class="fb-ic" href="https://www.facebook.com" target="_blank">
                    <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <a class="tw-ic" href="https://twitter.com/pulkitbanta" target="_blank">
                    <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <a class="gplus-ic" href="https://aboutme.google.com/u/0/?referer=gplus" target="_blank">
                    <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <a class="li-ic" href="https://www.linkedin.com/in/pulkit-banta-994112168/" target="_blank">
                    <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <a class="github-ic" href="https://github.com/PulkitBanta" target="_blank">
                    <i class="fa fa-github fa-lg white-text fa-2x"> </i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright: <strong>EduWeb</strong></div>
</footer>