<app-header></app-header>

<div class="container">
    <form class="my-5">
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter email" id="email" required autofocus>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Enter password" id="pwd" required>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> Remember me
                    </label>
                </div>
            </div>
            <div class="col-sm-6">
               <p>Do not have an account? <a class="badge badge-pill" routerLink="signup">Signup</a></p> 
            </div>
        </div>
        <button class="text-center" type="submit" class="btn btn-primary">Login</button>
    </form>
</div>