<div class="container">
    <div *ngIf='loginSuccess' class="alert alert-success alert-dismissible fade show m-3" role="alert">
        Successfully logged in! 😃
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-info alert-dismissible fade show m-3" role="alert">
        Use <span class="text-success">Qwe123</span> as a password.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="my-5">
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter email" id="email" formControlName='email' required autofocus>
            <small id="emailHelp" class="form-text text-danger" *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">Example email: abc@gmail.com</small>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Enter password" id="pwd" formControlName='password' minlength="6" maxlength="30" required>
            <small id="passwordHelp" class="form-text text-danger" *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">Password must contain: one upercase, one lowercase letter and between 6 to 20 characters.</small>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> Remember me
                    </label>
                </div>
            </div>
            <div class="col-sm-6">
                <p>Do not have an account? <a class="badge badge-info" routerLink="../signup">Signup</a></p>
            </div>
        </div>
        <button [disabled]='loginForm.invalid' class="text-center" class="btn btn-primary">Login</button>
    </form>
</div>