<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand font-weight-bold" routerLink="">Welcome to EduWeb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="platform">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="session">Sessions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="download">Downloads</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">About</a>
        </li>
      </ul>
    </div>
  </nav>