<app-header></app-header>

<div class="container">
    <form class="my-5">
        <div class="form-group">
            <input type="text" name="username" id="name" class="form-control" placeholder="Username" required autofocus>
        </div>

        <div class="form-group">
            <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
        </div>

        <div class="form-group">
            <input type="password" name="password" id="password" class="form-control" placeholder="Set a password" required>
        </div>

        <div class="form-group">
            <input type="password" name="password_confirmation" id="password-confirm" class="form-control" placeholder="Confirm password" required>
        </div>

        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="customCheck1" type="checkbox">
            <label class="custom-control-label" for="customCheck1">Agree <strong>Terms and conditions*</strong></label>
        </div>

        <div class="text-center pt-2 pb-1">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>