<div class="container">
    <div class="bg-info">
        <h3 class="text-light p-2 text-center">Download previous year's question paper</h3>
        <div class="container py-3">
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
    <app-performance></app-performance>
</div>