<div class="container">
    <div class="bg-info container py-md-2">
        <div class="row my-3">
            <div class="col-md-3 my-2 clickable">
                <div class="card shadow-sm" routerLink="session">
                    <div class="card-body py-5 px-2 text-center">All interactive sessions</div>
                </div>
            </div>
            <div class="col-md-3 my-2">
                <div class="card shadow-sm">
                    <div class="card-body py-5 px-2 text-center">Practice Questions</div>
                </div>
            </div>
            <div class="col-md-3 my-2 clickable">
                <div class="card shadow-sm" routerLink="download">
                    <div class="card-body py-5 px-2 text-center">Downloads</div>
                </div>
            </div>
            <div class="col-md-3 my-2">
                <div class="card shadow-sm">
                    <div class="card-body py-5 px-2 text-center">Ask Questions</div>
                </div>
            </div>
        </div>
    </div>
    <app-performance></app-performance>
</div>