<div class="fullscreen bg-image text-white d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1 class="text-uppercase">Where do you want to go today ?</h1>
        <h4>Velit id laboris laboris labore sint dolore.</h4>
    </div>
</div>
<div class="container">
    <div class="my-5 py-5">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Login for additional features.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <h3>Whatever your style, travel your way</h3>
        <p>
            Ipsum eiusmod aliquip ea consequat adipisicing velit commodo consequat aliqua ut ex amet officia sunt. Velit nulla occaecat officia consectetur exercitation quis. Adipisicing nisi ad velit enim consectetur velit amet sit in aliqua velit enim amet. In
            commodo elit duis occaecat dolor sunt sint pariatur laboris laboris proident amet ad occaecat. Adipisicing nostrud aute in in.
        </p>
        <p>
            Ipsum eiusmod aliquip ea consequat adipisicing velit commodo consequat aliqua ut ex amet officia sunt. Velit nulla occaecat officia consectetur exercitation quis. Adipisicing nisi ad velit enim consectetur velit amet sit in aliqua velit enim amet. In
            commodo elit duis occaecat dolor sunt sint pariatur laboris laboris proident amet ad occaecat. Adipisicing nostrud aute in in.
        </p>
        <p>
            Ipsum eiusmod aliquip ea consequat adipisicing velit commodo consequat aliqua ut ex amet officia sunt. Velit nulla occaecat officia consectetur exercitation quis. Adipisicing nisi ad velit enim consectetur velit amet sit in aliqua velit enim amet. In
            commodo elit duis occaecat dolor sunt sint pariatur laboris laboris proident amet ad occaecat. Adipisicing nostrud aute in in.
        </p>
        <p>
            Ipsum eiusmod aliquip ea consequat adipisicing velit commodo consequat aliqua ut ex amet officia sunt. Velit nulla occaecat officia consectetur exercitation quis. Adipisicing nisi ad velit enim consectetur velit amet sit in aliqua velit enim amet. In
            commodo elit duis occaecat dolor sunt sint pariatur laboris laboris proident amet ad occaecat. Adipisicing nostrud aute in in.
        </p>
        <p>
            Ipsum eiusmod aliquip ea consequat adipisicing velit commodo consequat aliqua ut ex amet officia sunt. Velit nulla occaecat officia consectetur exercitation quis. Adipisicing nisi ad velit enim consectetur velit amet sit in aliqua velit enim amet. In
            commodo elit duis occaecat dolor sunt sint pariatur laboris laboris proident amet ad occaecat. Adipisicing nostrud aute in in.
        </p>
        <p>
            Ipsum eiusmod aliquip ea consequat adipisicing velit commodo consequat aliqua ut ex amet officia sunt. Velit nulla occaecat officia consectetur exercitation quis. Adipisicing nisi ad velit enim consectetur velit amet sit in aliqua velit enim amet. In
            commodo elit duis occaecat dolor sunt sint pariatur laboris laboris proident amet ad occaecat. Adipisicing nostrud aute in in.
        </p>
        <p>
            Ipsum eiusmod aliquip ea consequat adipisicing velit commodo consequat aliqua ut ex amet officia sunt. Velit nulla occaecat officia consectetur exercitation quis. Adipisicing nisi ad velit enim consectetur velit amet sit in aliqua velit enim amet. In
            commodo elit duis occaecat dolor sunt sint pariatur laboris laboris proident amet ad occaecat. Adipisicing nostrud aute in in.
        </p>
        <img class="img-fluid my-5 " src="../../assets/travell.png" alt="Travel Image">
        <p>
            Ipsum eiusmod aliquip ea consequat adipisicing velit commodo consequat aliqua ut ex amet officia sunt. Velit nulla occaecat officia consectetur exercitation quis. Adipisicing nisi ad velit enim consectetur velit amet sit in aliqua velit enim amet. In
            commodo elit duis occaecat dolor sunt sint pariatur laboris laboris proident amet ad occaecat. Adipisicing nostrud aute in in.
        </p>
        <p>
            Ipsum eiusmod aliquip ea consequat adipisicing velit commodo consequat aliqua ut ex amet officia sunt. Velit nulla occaecat officia consectetur exercitation quis. Adipisicing nisi ad velit enim consectetur velit amet sit in aliqua velit enim amet. In
            commodo elit duis occaecat dolor sunt sint pariatur laboris laboris proident amet ad occaecat. Adipisicing nostrud aute in in.
        </p>
        <p>
            Ipsum eiusmod aliquip ea consequat adipisicing velit commodo consequat aliqua ut ex amet officia sunt. Velit nulla occaecat officia consectetur exercitation quis. Adipisicing nisi ad velit enim consectetur velit amet sit in aliqua velit enim amet. In
            commodo elit duis occaecat dolor sunt sint pariatur laboris laboris proident amet ad occaecat. Adipisicing nostrud aute in in.
        </p>
        <p>
            Ipsum eiusmod aliquip ea consequat adipisicing velit commodo consequat aliqua ut ex amet officia sunt. Velit nulla occaecat officia consectetur exercitation quis. Adipisicing nisi ad velit enim consectetur velit amet sit in aliqua velit enim amet. In
            commodo elit duis occaecat dolor sunt sint pariatur laboris laboris proident amet ad occaecat. Adipisicing nostrud aute in in.
        </p>
    </div>
</div>